html {
    cursor: none;
    min-height: 100%;
}

.content {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.title-container {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: 100%;
    transition: top 0.8s ease, transform 0.8s ease;
}

.title-container.moved-up {
    top: 30px;
    transform: translateY(0); 
}

h1 {
    font-size: 100px;
    transition: font-size 0.8s ease;
}

h1.small {
    font-size: 50px;
}

.hidden-item {
    opacity: 0;
    pointer-events: none;
}

.hidden-item.visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s ease;
}

.languages {
    display: inline-block;
    font-weight: 600;
}

.blue {
    color: #00ccff;
}

.orange {
    color: #ff5e00;
}

.yellow {
    color: #ffd900;
}

.green {
    color: #00cc1b;
}

.bg-blue {
    background-color: #00ccff;
}

.bg-orange {
    background-color: #ff5e00;
}

.bg-yellow {
    background-color: #ffd900;
}

.bg-green {
    background-color: #00cc1b;
}

.bg-gray {
    background-color: grey;
}

a {
    display:inline-block;
    color: grey;
    font-weight: 600;
    text-decoration: none;
}

.mouse-pointer {
    width: 10px;
    height: 10px;
    background-color: #00ccff;
    border-radius: 50%;
    position: absolute;

    transform: translate(-50%, -50%);
    pointer-events: none;
}

.mouse-pointer.mouse-down {
    width: 15px;
    height: 15px;

    transition: width 0.3s ease, height 0.3s ease;
}

.underline {
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
    border-radius: 1px;
	transition: width .2s linear;
}

*:hover>.underline {
    width: 100%;
}

.project {
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    border: solid;
    border-radius: 20px;
    border-color: grey;
}

.project:hover {
    max-width: 604px;
    padding: 22px;
    margin: 18px;
    border-radius: 22px;
    transition: padding .1s ease, margin .1s ease, max-width .1s ease, border-radius .1s ease;
}


.footer {
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}