@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000500;
  margin: 5px;
  border: solid 2px;
  border-color: #33ff66;

  color: #33ff66;
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
}

p {
  margin-bottom: 10px;
}

h1 {
  font-size: min(15vw, 100px);
  transition: font-size 0.8s ease;
}

h1.small {
  font-size: 50px;
}

h5 {
  font-size: 20px;
}

a {
  display: inline-block;
  color: #63f8a9;
  font-weight: 600;
  text-decoration: none;

  transition:
    color 0.3s,
    background-color 0.3s;
}

a:hover {
  color: #000500;
  background-color: #63f8a9;
}

.row {
  display: flex;
  padding: 3px;
  gap: 3px;
}

.header {
  flex: 1 1;
  padding-inline: 10px;
  height: 30px;
  background-color: #33ff66;

  padding: 2px;
  padding-inline: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000500;
  font-weight: 800;
}

.icon {
  width: 30px;
  border: solid 2px;
  border-color: #33ff66;

  text-align: center;
  font-weight: 800;
}

.button {
  width: 30px;
  border: solid 2px;
  border-color: #33ff66;

  text-align: center;
  font-weight: 800;

  cursor: pointer;
}

.button:hover {
  color: #000500;
}

.button.close:hover {
  background-color: #ff00aa;
  border-color: #ff00aa;
}

.button.fullscreen:hover {
  background-color: #63f8a9;
  border-color: #63f8a9;
}

.button.minimize:hover {
  background-color: #ccff44;
  border-color: #ccff44;
}

.fullscreen-icon {
  width: 14px;
  height: 14px;
  margin: 6px;
  border: solid 2px;
}

.minimize-icon {
  border-bottom: solid 2px;
  margin-block: 12px;
  margin-left: 6px;
  width: 14px;
}

.line {
  height: 2px;
  background-color: #33ff66;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 54px);
}

.introduction {
  margin: 10px;
  padding: 10px;
  text-align: center;
  min-height: 25vh;
}

.invisible {
  opacity: 0;
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    top 0.8s ease,
    transform 0.8s ease;

  display: flex;
  justify-content: center;
}

.title-container.moved-up {
  top: 130px;
}

.space-title {
  height: 130px;
}

.hidden-item {
  opacity: 0;
  pointer-events: none;
}

.hidden-item.visible {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s ease;
}

.languages {
  display: inline-block;
  font-weight: 600;
}

.blue {
  color: #63f8a9;
}

.green {
  color: #33ff66;
}

.black-green {
  color: #000500;
}

.row-content {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.project {
  flex: 1 1 300px;
  min-width: calc(50% - 10px);
  border: solid 2px;
  border-color: #33ff66;

  transition: transform 0.3s;
}

.project:hover {
  transform: translateY(-3px);
}

.project.fullscreen:hover {
  transform: none;
}

.project.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  margin: 5px;

  background-color: #000500;

  transition: transform 0s;
}

.fullscreen .project-text {
  opacity: 0;
  pointer-events: none;
}

.project-text {
  padding: 15px;
}

.footer {
  flex: 1 1;
  margin-inline: 20px;
  margin-bottom: 20px;
  padding: 30px;
  border: solid 2px;
  border-color: #33ff66;

  text-align: center;
  font-size: 24px;
}

@media (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}

.loading-bar {
  position: fixed;
  z-index: 1001;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 3px;

  height: 30px;
  padding: 3px;

  border: solid 2px;
}

.loading-bar-filler {
  height: 20px;
  width: 20px;
  background-color: #33ff66;
}

.iframe {
  position: fixed;
  z-index: 1002;
  top: 45px;
  height: calc(100vh - 52px);
  width: calc(100vw - 14px);

  border: none;
}
